body {
  width: 33%;
}

#res {
  background-color: lightgray;
  border: solid;
  height: 48px;
  font-size: 20px;
}

#btns button {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0;
  float: left;
  background-color: black;
  color: red;
}

#btns #btn0, #btns #btn1 {
  background-color: lightgreen;
  color: brown;
}

#btns #btnClr, #btns #btnEql {
  background-color: darkgreen;
  color: white;
}